<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
body {
	FONT-SIZE: 9pt;
	margin:0px;
	SCROLLBAR-FACE-COLOR: #dddddd; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #fcfcfc; COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #eeeeee;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: #f5f5f5;
	BACKGROUND-COLOR: #f5f5f5;

}
image{
	border-color:#999999;
}
td {
	font-size: 9pt; line-height:144%;
}
a:hover {
	font-size: 9pt;	color: #FF6600;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #777777;
}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}

.word_white {
	font-size: 9pt;
	color: #FFFFFF;
}
.word_grey{
	font-size: 9pt;
	color: #777777;
}
.word_darkGrey{
	font-size: 9pt;
	color: #262728;
}
.word_orange {
	font-size: 9pt;
	color: #FF6600;
}
.txt_grey {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
	width:110;
}
input {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.tableBorder {
	border: #D1E9FC 1px solid
}
.tableBorder_grey {
	border: #dddddd 1px solid
}
.tableBorder_gray {
	border: #DDDDDD 1px solid
}
.tableBorder_Top{
	border:1px solid #9CA6C6;
	border-bottom-style:none;
	border-left-style:none; 
	border-right-style:none
}
.tableBorder_Botton{
	border:1px solid #9CA6C6;
	border-top-style:none;
	border-left-style:none; 
	border-right-style:none
}
hr{
color:#9CA6C6;
}

.noborder{
border-style:none;
}
.tableBorder_B{
	border:1px solid #9CA6C6;
	border-left-style:none; 
	border-right-style:none;
	border-Top-style:none; 
}


-->